<main>
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark black-text lighten-3 mt-3 mb-5">
            <div class="text-center">
                <strong>Featured Items</strong>
            </div>
        </nav>

        <section class="text-center mb-4">
            <div class="row wow fadeIn">

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img src="http://images.uesp.net//thumb/e/ef/SR-map-Skyrim.jpg/400px-SR-map-Skyrim.jpg" class="card-img-top shopImage" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h5>
                                <strong>
                                    <a href="" class="dark-grey-text">
                                        Map of Skyrim
                                    </a>
                                </strong>
                            </h5>
                            <h4 class="font-weight-bold blue-text">
                                <strong>120$</strong>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/10/1762_Janvier_Map_of_North_America_%28Sea_of_the_West%29_-_Geographicus_-_NorthAmerica-janvier-1762.jpg" class="card-img-top shopImage" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h5>
                                <strong>
                                    <a href="" class="dark-grey-text">
                                        1762 United States Map
                                    </a>
                                </strong>
                            </h5>
                            <h4 class="font-weight-bold blue-text">
                                <strong>70$</strong>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img src="http://www.lol-wallpapers.com/wp-content/uploads/2016/12/Map-of-Runeterra-2.jpg" class="card-img-top shopImage" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h5>
                                <strong>
                                    <a href="" class="dark-grey-text">
                                        Map of Runeterra
                                    </a>
                                </strong>
                            </h5>
                            <h4 class="font-weight-bold blue-text">
                                <strong>30$</strong>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="view overlay">
                            <img src="https://vignette.wikia.nocookie.net/minecraft/images/d/db/4BlockMap.png/revision/latest?cb=20170624175305" class="card-img-top shopImage" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">
                            <h5>
                                <strong>
                                    <a href="" class="dark-grey-text">
                                        Minecraft Map
                                    </a>
                                </strong>
                            </h5>
                            <h4 class="font-weight-bold blue-text">
                                <strong>10$</strong>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>